.cart header{
    position: relative;
    height: 1rem;
    line-height: 1rem;
    background: #FF9900;
    color: #fff;
    text-align: center;
    font-size: .4rem;
}
.cart header .goback{
    position: absolute;
    left: .2rem;
}
/* 无商品 */
.cart .cart_con .cart_con_nocart{
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    line-height: .5rem;
    width: 3rem;
    height: 2rem;
    /* border: 1px solid red; */
    font-size: .32rem;
    color: #5E5E5E;
}
.cart .cart_con .cart_con_nocart img{
    margin-bottom: .2rem;
}
/* 有商品 */
.cart .cart_con .haveCart{
    padding: .4rem;
    height: 2.6rem;
    border: 1px solid red;
}
.cart .cart_con .haveCart img{
    width: 0.4rem;
    height: 0.4rem;

}
.cart .cart_con .haveCart .c_tit{
    margin-left: .3rem;
    color: #CBC7C7;
    font-size: .3rem;
}
.cart .cart_con .haveCart .haveCart_con{
    margin-top: .2rem;
    display: flex;
    justify-content: space-between;
    
}
.cart .cart_con .haveCart .haveCart_con img{
    width: 2rem;
    height: 2rem;
}