.home footer{
    width: 100vw;
    height: 1.2rem;
    background: #fff;
    border:1px solid #ccc;
    position: fixed;
    left: 0;
    bottom: 0;
    display: flex;
    line-height: 1rem;
}
.home footer a{
    flex: 1;
    line-height: 0.6rem;
    font-size: 0.36rem;
    text-align: center;
    color: #000;
    text-decoration: none;
}
.home footer a img{
    display: block;
    margin: auto;
    width: 0.5rem;
    height: 0.5rem;
}
.home footer .active{
    color: #FF9900;
    /* background-image: url(cart1); */
}