.fenleigoods{
    background: #fff;
}
.fenleigoods header{
    position: relative;
    height: 0.8rem;
    line-height: 0.8rem;
    background: #FF9900;
    color: #fff;
    text-align: center;
    font-size: 0.4rem;
}
.fenleigoods header .goback{
    position: absolute;
    left: 0.2rem;
    color: #fff;

}
.fenleigoods .list_box{
    display: flex;
    margin-top: 0.2rem;
}
.fenleigoods .list_box img{
    width: 2rem;
    height: 2rem;
    margin-right: 0.2rem;
}
.fenleigoods .list_box .con h3{
    /* margin-top: 0.4rem; */
    font-size: 0.34rem;
    font-weight: 400;
}
.fenleigoods .list_box .b_con{
    margin-top: 0.6rem;
}
.fenleigoods .list_box .con p{
    color: #E23838;
    font-weight: bold;
}
.fenleigoods .list_box .con button{
    width: 1.4rem;
    height: 0.8rem;
    border-radius: 0.2rem;
    background: #FF9900;
    color: #fff;
}