.nav{
    position: relative;
    height: 0.8rem;
    background: #fff;
    border: 1px solid red;
}
.nav img{
    position: absolute;
    left: 0;
    bottom: 0;
}
.nav .findName{
    position: absolute;
    top: 20%;
    right:1rem;
}
.nav .findName .input{
    text-align: center;
    width: 1.6rem;
    height: 0.5rem;
    border-radius: 0.5rem;
   background: #CCCCCC;
}